{{- if .Values.executionLayer.enabled }}
{{- if .Values.consensusLayer.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ethereum-node.fullname" . }}-jwt
  labels:
    {{- include "ethereum-node.labels" . | nindent 4 }}
type: Opaque
data:
  # Generate random 64-character hex string
  jwt.hex: {{ randAlphaNum 64 | b64enc }}
{{- end }}
{{- end }}